<div class="container">

  <h2 class="link clickable">
    <a class="link-title" href="https://github.com/Ks89/angular-modal-gallery/tree/master/libs/angular-modal-gallery">Button strategies</a>
  </h2>
  <p>Modal button strategies.</p>
  <br>

  <h3>Live Demo</h3>
  <br>
  <p>1. Strategy DEFAULT</p>
  <ks-modal-gallery [id]="0" [modalImages]="images"
                    [buttonsConfig]="buttonsConfigDefault"></ks-modal-gallery>
  <br>
  <p>2. Strategy SIMPLE</p>
  <ks-modal-gallery [id]="1" [modalImages]="images"
                    [buttonsConfig]="buttonsConfigSimple"></ks-modal-gallery>
  <br>
  <p>3. Strategy ADVANCED</p>
  <ks-modal-gallery [id]="2" [modalImages]="images"
                    [buttonsConfig]="buttonsConfigAdvanced"></ks-modal-gallery>
  <br>
  <p>4. Strategy FULL</p>
  <ks-modal-gallery [id]="3" [modalImages]="images"
                    [buttonsConfig]="buttonsConfigFull"
                    (show)="onVisibleIndex($event)"
                    (buttonBeforeHook)="onButtonBeforeHook($event)"
                    (buttonAfterHook)="onButtonAfterHook($event)"></ks-modal-gallery>
  <br><br>

  <section>
    <h3>Code</h3>
    <br>
    <h4>Template</h4>
    <codemirror [(ngModel)]="codeHtml" [config]="configHtml">
    </codemirror>
    <br>
    <h4>Typescript</h4>
    <codemirror [(ngModel)]="codeTypescript" [config]="configTs">
    </codemirror>
  </section>

  <br><br>

  <section>
    <h3>Details</h3>
    <br>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Input (.html)</th>
          <th>Value (.ts)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>id</code></td>
          <td>
            <div><i>Value: </i><code>0, 1, 2 and 3</code> (one for every instance in this example)</div>
            <div><b class="text-success">Unique id</b></div>
          </td>
        </tr>
        <tr>
          <td><code>modalImages</code></td>
          <td>
            <div><i>Value: </i><code>Image[]</code></div>
            <div><b class="text-success">Array of <code>Image</code> objects</b></div>
          </td>
        </tr>
        <tr>
          <td><code>currentImageConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>No downloadable at all, default loading spinner, clickable current image and with default description (always visible)</div>
          </td>
        </tr>
        <tr>
          <td><code>buttonsConfig</code></td>
          <td>
            <div><i>Value: </i>see all ButtonsConfig objects above</div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>It will show buttons, based on ButtonsStrategy</div>
          </td>
        </tr>
        <tr>
          <td><code>enableCloseOutside</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>Clicking on the semi-transparent background, modal-gallery will close</div>
          </td>
        </tr>
        <tr>
          <td><code>dotsConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>It will show dots below the current modal image</div>
          </td>
        </tr>
        <tr>
          <td><code>previewConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>It will show 3 clickable previews (default size) with arrows</div>
          </td>
        </tr>
        <tr>
          <td><code>slideConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>Infinite sliding is disabled by default and side previews are visible with a default size</div>
          </td>
        </tr>
        <tr>
          <td><code>accessibilityConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div><small>(an object with all default english accessibility values by default)</small></div>
          </td>
        </tr>
        <tr>
          <td><code>keyboardConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
          </td>
        </tr>
        <tr>
          <td><code>plainGalleryConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>Row plain gallery with default layout</div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
