<div id="features" class="jumbotron jumbotron-fluid title">
  <div class="container">
    <h1>{{title}}</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9 pull-md-3">
      <router-outlet></router-outlet>
    </div>
    <div class="col-12 col-md-3 push-md-9">
      <app-sidebar-features></app-sidebar-features>
    </div>
  </div>
</div>
