<div class="container">

  <h2 class="link clickable">
    <a class="link-title" href="https://github.com/Ks89/angular-modal-gallery/tree/master/libs/angular-modal-gallery">Gallery service example</a>
  </h2>
  <p>Minimal example of Gallery service with <code>openGallery</code> and <code>closeGallery</code> methods.</p>
  <br>

  <h3>Live Demos</h3>
  <br>
  <br>
  <h4>1) Example of <code>openGallery</code> method</h4>
  <br>
  <button class="btn btn-primary" (click)="openModalViaService(1, 2)"><i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Open galleryId=1 at index=2 (third image)</button>
  <br><br>
  <ks-modal-gallery [id]="1" [modalImages]="images"></ks-modal-gallery>
  <br><br>

  <section>
    <h3>Code</h3>
    <br>
    <h4>Template</h4>
    <codemirror [(ngModel)]="codeHtml" [config]="configHtml">
    </codemirror>
    <br>
    <h4>Typescript</h4>
    <codemirror [(ngModel)]="codeTypescript" [config]="configTs">
    </codemirror>
  </section>

  <br><br>

  <h4>2) Example of <code>closeGallery</code> method</h4>
  <p>Modal gallery (with id=2) <b>will close automatically after 3 seconds.</b></p>
  <br>
  <ks-modal-gallery [id]="2" [modalImages]="images" (show)="onShowAutoCloseExample($event, 2)"></ks-modal-gallery>
  <br><br>

  <section>
    <h3>Code</h3>
    <br>
    <h4>Template</h4>
    <codemirror [(ngModel)]="codeHtml2" [config]="configHtml">
    </codemirror>
    <br>
    <h4>Typescript</h4>
    <codemirror [(ngModel)]="codeTypescript2" [config]="configTs">
    </codemirror>
  </section>

  <br><br>


  <section>
    <h3>Details</h3>
    <br>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Input (.html)</th>
          <th>Value (.ts)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>id</code></td>
          <td>
            <div><i>Value: </i><code>0</code></div>
            <div><b class="text-success">Unique id</b></div>
          </td>
        </tr>
        <tr>
          <td><code>modalImages</code></td>
          <td>
            <div><i>Value: </i><code>Image[]</code></div>
            <div><b class="text-success">Array of <code>Image</code> objects</b></div>
          </td>
        </tr>
        <tr>
          <td><code>currentImageConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>No downloadable at all, default loading spinner, clickable current image and with default description (always visible)</div>
          </td>
        </tr>
        <tr>
          <td><code>buttonsConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>It will show only the close button</div>
          </td>
        </tr>
        <tr>
          <td><code>enableCloseOutside</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>Clicking on the semi-transparent background, modal-gallery will close</div>
          </td>
        </tr>
        <tr>
          <td><code>dotsConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>It will show dots below the current modal image</div>
          </td>
        </tr>
        <tr>
          <td><code>previewConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>It will show 3 clickable previews (default size) with arrows</div>
          </td>
        </tr>
        <tr>
          <td><code>slideConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>Infinite sliding is disabled by default and side previews are visible with a default size</div>
          </td>
        </tr>
        <tr>
          <td><code>accessibilityConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div><small>(an object with all default english accessibility values by default)</small></div>
          </td>
        </tr>
        <tr>
          <td><code>keyboardConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
          </td>
        </tr>
        <tr>
          <td><code>plainGalleryConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>Row plain gallery with default layout</div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
