<nav *ngIf="!collapsed; else collapsedNavbar"
  class="nav-expanded">
  <button class="navbar-hamburger" type="button" aria-label="Toggle navigation">
    <img class="hamburger"
         src="./assets/menu.svg"
         width="auto" height="26"
         aria-label="Toggle navigation"
         title="Toggle navigation button"
         alt="Toggle navigation button"
         (click)="onToggle()">
  </button>
  <div class="navbar-wrapper" aria-hidden="true">
    <a pageScroll class="navbar-brand" (click)="onNavigateTo('/')">@ks89/angular-modal-gallery</a>
    <ul class="navbar-nav">
      <li class="nav-item {{isNavItemActive('/gettingStarted')}}">
        <a pageScroll class="nav-link" (click)="onNavigateTo('/gettingStarted')">Getting started</a>
      </li>
      <li class="nav-item {{isNavItemActive('/migration')}}">
        <a pageScroll class="nav-link" (click)="onNavigateTo('/migration')">Migration guide</a>
      </li>
      <li class="nav-item {{isNavItemActive('/features')}}">
        <a pageScroll class="nav-link" (click)="onNavigateTo('/features')">Features</a>
      </li>
      <li class="nav-item {{isNavItemActive('/demo')}}">
        <a pageScroll class="nav-link" (click)="onNavigateTo('/demo')">Examples</a>
      </li>
      <li class="nav-item {{isNavItemActive('/about')}}">
        <a pageScroll class="nav-link" (click)="onNavigateTo('/about')">About</a>
      </li>
      <li style="margin-top: 5px; margin-left: 8px;">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="5YATRVKDHQCGU">
          <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
        </form>
      </li>
    </ul>
  </div>

  <form id="githubButtons" class="form-inline my-2 my-lg-0">
    <!-- Built with https://buttons.github.io -->
    <iframe class="mr-sm-2" allowtransparency="true" scrolling="no" frameborder="0"
            style="width: 160px; height: 28px; border: none;"
            src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2FKs89&data-text=Follow%20%40Ks89&data-size=large&data-show-count=true&aria-label=Follow%20%40Ks89%20on%20GitHub"></iframe>
    &nbsp;&nbsp;<iframe class="mr-sm-2" allowtransparency="true" scrolling="no" frameborder="0"
                        style="width: 98px; height: 28px; border: none;"
                        src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2FKs89%2Fangular-modal-gallery&data-text=Star&data-size=large&data-show-count=true&aria-label=Star%20Ks89%2Fangular-modal-gallery%20on%20GitHub"></iframe>
    &nbsp;&nbsp;<iframe class="my-2 my-sm-0" allowtransparency="true" scrolling="no" frameborder="0"
                        style="width: 102px; height: 28px; border: none;"
                        src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2FKs89%2Fangular-modal-gallery%2Ffork&data-text=Fork&data-size=large&data-show-count=true&aria-label=Fork%20Ks89%2Fangular-modal-gallery%20on%20GitHub"></iframe>
    &nbsp;&nbsp;<iframe class="mr-sm-2" allowtransparency="true" scrolling="no" frameborder="0"
                        style="width: 108px; height: 28px; border: none;"
                        src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2FKs89%2Fangular-modal-gallery%2Fsubscription&data-text=Watch&data-size=large&data-show-count=true&aria-label=Watch%20Ks89%2Fangular-modal-gallery%20on%20GitHub"></iframe>
  </form>
</nav>

<ng-template #collapsedNavbar>
  <nav class="nav-collapsed">
    <button class="navbar-hamburger" type="button" aria-label="Toggle navigation">
      <img class="hamburger"
           src="./assets/menu.svg"
           width="auto" height="26"
        (click)="onToggle()">
    </button>
    <div class="navbar-wrapper" aria-hidden="true">
      <a pageScroll class="navbar-brand" (click)="onNavigateTo('/')">@ks89/angular-modal-gallery</a>
      <ul class="navbar-nav">
        <li class="nav-item {{isNavItemActive('/gettingStarted')}}">
          <a pageScroll class="nav-link" (click)="onNavigateTo('/gettingStarted')">Getting started</a>
        </li>
        <li class="nav-item {{isNavItemActive('/migration')}}">
          <a pageScroll class="nav-link" (click)="onNavigateTo('/migration')">Migration guide</a>
        </li>
        <li class="nav-item {{isNavItemActive('/features')}}">
          <a pageScroll class="nav-link" (click)="onNavigateTo('/features')">Features</a>
        </li>
        <li class="nav-item {{isNavItemActive('/demo')}}">
          <a pageScroll class="nav-link" (click)="onNavigateTo('/demo')">Examples</a>
        </li>
        <li class="nav-item {{isNavItemActive('/about')}}">
          <a pageScroll class="nav-link" (click)="onNavigateTo('/about')">About</a>
        </li>
        <li style="margin-top: 5px; margin-left: 8px;">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="5YATRVKDHQCGU">
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
          </form>
        </li>
      </ul>
    </div>
  </nav>
</ng-template>
