/*
 * MIT License
 *
 * Copyright (c) 2017-2018 Stefano Cappa
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
@import "theme";

nav.nav-expanded {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: $color-light-black;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  > .navbar-hamburger {
    display: none;
    background-color: $color-light-black;
    border-color: rgba(255, 255, 255, .1);

    @media screen and (max-width: 990px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      cursor: pointer;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  > .navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @media screen and (max-width: 990px) {
      display: none;
    }

    > .navbar-brand {
      font-size: 16px;
      color: #ffffff;
      font-weight: 400;
      margin-left: 8px;
      margin-right: 8px;
      cursor: pointer;

      &:hover {
        color: #bdbdbd;
      }
    }

    > .navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      > .nav-item {
        cursor: pointer;

        > a.nav-link {
          color: #b9b9b9;
          font-size: 14px;
          font-weight: 400;
          margin-left: 8px;
          margin-right: 8px;

          &:hover {
            color: #E2E2E2;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1395px) {
    > #githubButtons {
      display: none;
    }
  }
}


// cexpanded on mobile devices after pressing the hamburger button
nav.nav-collapsed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: $color-light-black;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  > .navbar-hamburger {
    display: none;
    background-color: $color-light-black;
    border-color: rgba(255, 255, 255, .1);

    @media screen and (max-width: 990px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      cursor: pointer;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  > .navbar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 8px;
    width: 100%;

    > .navbar-brand {
      font-size: 16px;
      color: #ffffff;
      font-weight: 400;
      margin-left: 8px;
      margin-right: 8px;
      cursor: pointer;
      width: 100%;

      &:hover {
        color: #bdbdbd;
      }
    }

    > .navbar-nav {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;

      > .nav-item {
        cursor: pointer;
        width: 100%;

        > a.nav-link {
          color: #b9b9b9;
          font-size: 14px;
          font-weight: 400;
          margin-left: 8px;
          margin-right: 8px;

          &:hover {
            color: #E2E2E2;
          }
        }
      }
    }
  }
}



