<div class="container">

  <h2 class="link clickable">
    <a class="link-title" href="https://github.com/Ks89/angular-modal-gallery/tree/master/libs/angular-modal-gallery">Loading spinner types</a>
  </h2>
  <p>Modal gallery example with different types of loading spinners.</p>
  <br>

  <h3>Live Demos</h3>
  <br>
  <p>1. Type STANDARD</p>
  <ks-modal-gallery [id]="0" [modalImages]="images"
                    [currentImageConfig]="{loadingConfig: {enable: true, type: 1}}"></ks-modal-gallery>
  <br>
  <p>2. Type CIRCULAR</p>
  <ks-modal-gallery [id]="1" [modalImages]="images"
                    [currentImageConfig]="{loadingConfig: {enable: true, type: 2}}"></ks-modal-gallery>
  <br>
  <p>3. Type BARS</p>
  <ks-modal-gallery [id]="2" [modalImages]="images"
                    [currentImageConfig]="{loadingConfig: {enable: true, type: 3}}"></ks-modal-gallery>
  <br>
  <p>4. Type DOTS</p>
  <ks-modal-gallery [id]="3" [modalImages]="images"
                    [currentImageConfig]="{loadingConfig: {enable: true, type: 4}}"></ks-modal-gallery>
  <br>
  <p>5. Type CUBE_FLIPPING</p>
  <ks-modal-gallery [id]="4" [modalImages]="images"
                    [currentImageConfig]="{loadingConfig: {enable: true, type: 5}}"></ks-modal-gallery>
  <br>
  <p>6. Type CIRCLES</p>
  <ks-modal-gallery [id]="5" [modalImages]="images"
                    [currentImageConfig]="{loadingConfig: {enable: true, type: 6}}"></ks-modal-gallery>
  <br>
  <p>7. Type EXPLOSING_SQUARES</p>
  <ks-modal-gallery [id]="6" [modalImages]="images"
                    [currentImageConfig]="{loadingConfig: {enable: true, type: 7}}"></ks-modal-gallery>
  <br><br>

  <section>
    <h3>Code</h3>
    <br>
    <h4>Template</h4>
    <codemirror [(ngModel)]="codeHtml" [config]="configHtml">
    </codemirror>
  </section>

  <br><br>

  <section>
    <h3>Details</h3>
    <br>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Input (.html)</th>
          <th>Value (.ts)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>id</code></td>
          <td>
            <div><i>Value: </i><code>0</code></div>
            <div><b class="text-success">Unique id</b></div>
          </td>
        </tr>
        <tr>
          <td><code>modalImages</code></td>
          <td>
            <div><i>Value: </i><code>Image[]</code></div>
            <div><b class="text-success">Array of <code>Image</code> objects</b></div>
          </td>
        </tr>
        <tr>
          <td><code>currentImageConfig</code></td>
          <td>
            <div><i>Value: </i><code>&#123; loadingConfig: &#123; enable: true, type: 1 &#125; &#125;</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>No downloadable at all, clickable current image and with default description (always visible).
              It will show loading spinners of different types, based on the value of 'type' (number from 1 to 7, also available as LoadingType enum)</div>
          </td>
        </tr>
        <tr>
          <td><code>buttonsConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>It will show only the close button</div>
          </td>
        </tr>
        <tr>
          <td><code>enableCloseOutside</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>Clicking on the semi-transparent background, modal-gallery will close</div>
          </td>
        </tr>
        <tr>
          <td><code>dotsConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>It will show dots below the current modal image</div>
          </td>
        </tr>
        <tr>
          <td><code>previewConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>It will show 3 clickable previews (default size) with arrows</div>
          </td>
        </tr>
        <tr>
          <td><code>slideConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>Infinite sliding is disabled by default and side previews are visible with a default size</div>
          </td>
        </tr>
        <tr>
          <td><code>accessibilityConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div><small>(an object with all default english accessibility values by default)</small></div>
          </td>
        </tr>
        <tr>
          <td><code>keyboardConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
          </td>
        </tr>
        <tr>
          <td><code>plainGalleryConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>Row plain gallery with default layout</div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
