<div id="about" class="jumbotron jumbotron-fluid title">
  <div class="container">
    <h1>About</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <section>
        <p><b>A special thank to all that helped me with contributions, issues and testing beta releases</b></p>
        <ul>
          <li>alhazmy13</li>
          <li>vixriihi</li>
          <li>Enngage</li>
          <li>matiishyn</li>
          <li>odahcam</li>
          <li>vugar005</li>
          <li>patrickmichalina</li>
          <li>Alados</li>
          <li>Iamguy84</li>
          <li>yarozar</li>
          <li>ckelkar</li>
          <li>tobi-or-not-tobi</li>
          <li>mlc-mlapis</li>
          <li>pieterdegraeuwe</li>
          <li>istrdev</li>
          <li>mrVers</li>
          <li>smardine</li>
          <li>and many others</li>
        </ul>
      </section>
      <section>
        <p><b>A special thank to all authors of icons used in this library</b></p>
        <ul>
          <li>Icons made by <a href="https://www.flaticon.com/authors/smartline" title="Smartline">Smartline</a> from <a
            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
            href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
            BY</a>
          </li>
          <li>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from
            <a
              href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
              href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
              BY</a>
          </li>
          <li>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a
            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
            href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
            BY</a>
          </li>
          <li>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a>
            from <a
              href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
              href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
              BY</a>
          </li>
          <li>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor
            Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
            href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
            BY</a>
          </li>
          <li>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
            href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
          </li>
          <li>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
              href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
          </li>
          <li>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
              href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
          </li>
        </ul>
      </section>

      <section>
        <p><b>A special thanks to all authors of spinners used in this library</b></p>
        <ul>
          <li><a href="https://github.com/lukehaas">Luke Haas (@lukehaas)</a> - <a
            href="https://github.com/lukehaas/css-loaders">lukehaas/css-loaders</a></li>
          <li><a href="https://github.com/martinvd">Martin van Driel (@martinvd)</a> - <a
            href="https://codepen.io/martinvd/pen/xbQJom">martinvd example on codepen.io</a></li>
          <li><a href="https://devalchemist.com/">Devilish Alchemist</a> - <a
            href="https://codepen.io/devilishalchemist/pen/emOVYQ">devilishalchemist example on codepen.io</a></li>
          <li><a href="https://github.com/nikhil8krishnan">Nikhil Krishnan</a> - <a
            href="https://codepen.io/nikhil8krishnan/pen/dMEzGx">nikhil8krishnan example on codepen.io</a></li>
          <li><a href="https://codepen.io/WebSonata/">Anastasiya Kuligina</a> - <a
            href="https://codepen.io/WebSonata/pen/bRaONB">Anastasiya Kuligina example on codepen.io</a></li>
        </ul>
      </section>

    </div>
  </div>
</div>





