<div class="container">

  <!-- TODO Add link to github sources -->
  <h1 id="Accessibility" class="link clickable">
    <a class="link-title" href="https://github.com/Ks89/angular-modal-gallery/tree/master/libs/angular-modal-gallery">Accessibility</a>
  </h1>
  <p>Accessibility interface used by all components of this library.

  <br>

  <h2 id="AccessibilityConfig" class="link clickable">
    <a class="link-title" href="https://github.com/Ks89/angular-modal-gallery/tree/master/libs/angular-modal-gallery">AccessibilityConfig</a>
  </h2>
  <p>Interface to configure accessibility features as you want, for instance with a different language.</p>
  <p>These are all supported string fields (grouped by components):</p>
  <br>
  <ul>
    <li>Background
      <ul>
        <li><code>backgroundAriaLabel</code></li>
        <li><code>backgroundTitle</code></li>
      </ul>
    </li>
    <li>Plain gallery
      <ul>
        <li><code>plainGalleryContentAriaLabel</code></li>
        <li><code>plainGalleryContentTitle</code></li>
      </ul>
    </li>
    <li>Modal gallery
      <ul>
        <li><code>modalGalleryContentAriaLabel</code></li>
        <li><code>modalGalleryContentTitle</code></li>
      </ul>
    </li>
    <li>Loading spinner
      <ul>
        <li><code>loadingSpinnerAriaLabel</code></li>
        <li><code>loadingSpinnerTitle</code></li>
      </ul>
    </li>
    <li>Current image
      <ul>
        <li><code>mainContainerAriaLabel</code></li>
        <li><code>mainContainerTitle</code></li>
        <li><code>mainPrevImageAriaLabel</code></li>
        <li><code>mainPrevImageTitle</code></li>
        <li><code>mainNextImageAriaLabel</code></li>
        <li><code>mainNextImageTitle</code></li>
      </ul>
    </li>
    <li>Dots
      <ul>
        <li><code>dotsContainerAriaLabel</code></li>
        <li><code>dotsContainerTitle</code></li>
        <li><code>dotAriaLabel</code></li>
      </ul>
    </li>
    <li>Previews
      <ul>
        <li><code>previewsContainerAriaLabel</code></li>
        <li><code>previewsContainerTitle</code></li>
        <li><code>previewScrollPrevAriaLabel</code></li>
        <li><code>previewScrollPrevTitle</code></li>
        <li><code>previewScrollNextAriaLabel</code></li>
        <li><code>previewScrollNextTitle</code></li>
      </ul>
    </li>
  </ul>
</div>
