<div class="container">

  <h2 class="link clickable">
    <a class="link-title" href="https://github.com/Ks89/angular-modal-gallery/tree/master/libs/angular-modal-gallery">Description custom example</a>
  </h2>
  <p>Minimal modal gallery <b class="text-success">with a custom description.</b></p>
  <p><b class="text-success">So imageText, numberSeparator and beforeTextDescription will be replaced with the
    provided values, but the final description will be the value defined inside the <code>Image</code> object</b></p>
  <br>

  <h3>Live Demo</h3>
  <br>
  <ks-modal-gallery [id]="0" [modalImages]="images"
                    [currentImageConfig]="{description: customDescription}"></ks-modal-gallery>
  <br><br>

  <section>
    <h3>Code</h3>
    <br>
    <h4>Template</h4>
    <codemirror [(ngModel)]="codeHtml" [config]="configHtml">
    </codemirror>
    <br>
    <h4>Typescript</h4>
    <codemirror [(ngModel)]="codeTypescript" [config]="configTs">
    </codemirror>
  </section>

  <br><br>

  <section>
    <h3>Details</h3>
    <br>
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th>Input (.html)</th>
        <th>Value (.ts)</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>id</code></td>
          <td>
            <div><i>Value: </i><code>0</code></div>
            <div><b class="text-success">Unique id</b></div>
          </td>
        </tr>
        <tr>
          <td><code>modalImages</code></td>
          <td>
            <div><i>Value: </i><code>Image[]</code></div>
            <div><b class="text-success">Array of <code>Image</code> objects</b></div>
          </td>
        </tr>
        <tr>
          <td><code>currentImageConfig</code></td>
          <td>
            <div><i>Value: </i><code>&#123; description: &#123; strategy: DescriptionStrategy.ALWAYS_VISIBLE, imageText: 'Look this image ', numberSeparator: ' of ', beforeTextDescription: ' => ' &#125; &#125;</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>No downloadable at all, default loading spinner, clickable current image and with <b>a CUSTOM description</b> (always visible)</div>
          </td>
        </tr>
        <tr>
          <td class="very-big-tds"><code>buttonsConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>It will show only the close button</div>
          </td>
        </tr>
        <tr>
          <td class="very-big-tds"><code>enableCloseOutside</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>Clicking on the semi-transparent background, modal-gallery will close</div>
          </td>
        </tr>
        <tr>
          <td class="very-big-tds"><code>dotsConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>It will show dots below the current modal image</div>
          </td>
        </tr>
        <tr>
          <td class="very-big-tds"><code>previewConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>It will show 3 clickable previews (default size) with arrows</div>
          </td>
        </tr>
        <tr>
          <td class="very-big-tds"><code>slideConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>Infinite sliding is disabled by default and side previews are visible with a default size</div>
          </td>
        </tr>
        <tr>
          <td class="very-big-tds"><code>accessibilityConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div><small>(an object with all default english accessibility values by default)</small></div>
          </td>
        </tr>
        <tr>
          <td class="very-big-tds"><code>keyboardConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
          </td>
        </tr>
        <tr>
          <td class="very-big-tds"><code>plainGalleryConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>Row plain gallery with default layout</div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
