<app-intro-header id="home"></app-intro-header>

<div class="container-fluid">
  <div class="row">

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <section class="container">
        <h2>Welcome</h2>
        <p class="lead">This is the official @ks89/angular-modal-gallery documentation.
          To get started quickly you can follow installation instructions or just browse demos for the
          existing examples. Would you help to either improve this library or fix bugs? If the answer is yes, please open
          issues and create pull requests with new features and bugfixes.
          This library uses <a href="http://semver.org/">Semantic versioning 2.0.0</a> also known as 'semver'.</p>
        <p class="lead"><b>@ks89/angular-modal-gallery requires Internet Explorer 11 or greater</b></p>
      </section>
      <br>
      <section class="container">
        <h2>Which version should I use?</h2>
        <p class="lead">If you are still using older Angular versions, check the table below.
          However, I suggest to update to Angular >=6.</p>
        <table class="table table-hover table-sm table-responsive">
          <tbody>
            <tr>
              <td></td>
              <td>@ks89/angular-modal-gallery</td>
              <td>Font Awesome</td>
            </tr>
            <tr>
              <td>AngularJS</td>
              <td>NOT SUPPORTED</td>
              <td></td>
            </tr>
            <tr>
              <td>Angular 2</td>
              <td>= 3.3.5</td>
              <td>>= 4.0.0</td>
            </tr>
            <tr>
              <td>Angular 4</td>
              <td>= 5.7.1</td>
              <td>optional</td>
            </tr>
            <tr>
              <td>Angular 5</td>
              <td>= 6.2.3</td>
              <td>optional</td>
            </tr>
            <tr>
              <td>Angular 6</td>
              <td>>= 7.0.0</td>
              <td>optional</td>
            </tr>
            <tr>
              <td>Angular 7</td>
              <td>>= 7.0.0</td>
              <td>optional</td>
            </tr>
          </tbody>
        </table>
        <br>
      </section>
      <section class="container">
        <h2>Demo</h2>
        <p class="lead">Small demo with all default values.
          For more information, go to <a pageScroll href="#features" [routerLink]="['/features']">Features</a>.</p>
        <br>
        <ks-modal-gallery [id]="0" [modalImages]="images"></ks-modal-gallery>
      </section>
    </div>

  </div>
</div>

