<div class="container">
  <h2 class="link clickable">
    <a class="link-title" href="https://github.com/Ks89/angular-modal-gallery/tree/master/libs/angular-modal-gallery">Plain gallery with image pointer</a>
  </h2>
  <p>Plain gallery with image pointer.</p>
  <br>

  <h3>Live Demo</h3>
  <br>
  <div class="my-app-custom-plain-container-row">
    <ng-container *ngFor="let img of images; let i = index">
      <div *ngIf="i <= 2"> <!-- 2 is a fixed value that I'm using to display only two images -->
        <a class="more" *ngIf="i==2" (click)="openImageModalRow(img)"> +{{images.length - 2 - 1}} more </a>
        <img *ngIf="img.plain && img.plain.img; else noThumb"
             class="my-app-custom-image-row"
             [src]="img.plain.img"
             (click)="openImageModalRow(img)"
             [alt]="img.modal.description"/>

        <ng-template #noThumb>
          <img class="my-app-custom-image-row"
               [src]="img.modal.img"
               (click)="openImageModalRow(img)"
               [alt]="img.modal.description"/>
        </ng-template>
      </div>
    </ng-container>
  </div>
  <ks-modal-gallery [id]="0" [modalImages]="images"
                    [plainGalleryConfig]="customPlainGalleryRowConfig"></ks-modal-gallery>
  <br><br>

  <section>
    <h3>Code</h3>
    <br>
    <h4>Template</h4>
    <codemirror [(ngModel)]="codeHtml" [config]="configHtml">
    </codemirror>
    <br>
    <h4>Typescript</h4>
    <codemirror [(ngModel)]="codeTypescript" [config]="configTs">
    </codemirror>
    <br>
    <h4>Style (SASS)</h4>
    <codemirror [(ngModel)]="codeSass" [config]="configHtml">
    </codemirror>
  </section>

  <br><br>

  <section>
    <h3>Details</h3>
    <br>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Input (.html)</th>
          <th>Value (.ts)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>id</code></td>
          <td>
            <div><i>Value: </i><code>0</code></div>
            <div><b class="text-success">Unique id</b></div>
          </td>
        </tr>
        <tr>
          <td><code>modalImages</code></td>
          <td>
            <div><i>Value: </i><code>Image[]</code></div>
            <div><b class="text-success">Array of <code>Image</code> objects</b></div>
          </td>
        </tr>
        <tr>
          <td><code>currentImageConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>No downloadable at all, default loading spinner, clickable current image and with default description (always visible)</div>
          </td>
        </tr>
        <tr>
          <td><code>buttonsConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>It will show only the close button</div>
          </td>
        </tr>
        <tr>
          <td><code>enableCloseOutside</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>Clicking on the semi-transparent background, modal-gallery will close</div>
          </td>
        </tr>
        <tr>
          <td><code>dotsConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>It will show dots below the current modal image</div>
          </td>
        </tr>
        <tr>
          <td><code>previewConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>It will show 3 clickable previews (default size) with arrows</div>
          </td>
        </tr>
        <tr>
          <td><code>slideConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>Infinite sliding is disabled by default and side previews are visible with a default size</div>
          </td>
        </tr>
        <tr>
          <td><code>accessibilityConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div><small>(an object with all default english accessibility values by default)</small></div>
          </td>
        </tr>
        <tr>
          <td><code>keyboardConfig</code></td>
          <td>
            <div><i>Value: </i><code>undefined</code></div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
          </td>
        </tr>
        <tr>
          <td><code>plainGalleryConfig</code></td>
          <td>
            <div><i>Value: </i>see above</div>
            <div><a [routerLink]="['/features/defaultValues']">default value</a></div>
            <div>Plain gallery with image pointer</div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
