<div class="container">

  <!-- TODO Add link to github sources -->
  <h1 id="Previews" class="link clickable">
    <a class="link-title" href="https://github.com/Ks89/angular-modal-gallery/tree/master/libs/angular-modal-gallery">Previews</a>
  </h1>
  <p>Previews component contains previews with navigation arrows.</p>
  <br>

  <h2 id="PreviewConfig" class="link clickable">
    <a class="link-title" href="https://github.com/Ks89/angular-modal-gallery/tree/master/libs/angular-modal-gallery">PreviewConfig</a>
  </h2>
  <p>Interface to configure previews (not 'side-previews', but those at the bottom) in modal gallery.</p>
  <br>
  <table class="table table-hover table-sm">
    <tbody>
    <tr>
      <td><small><code>visible</code></small></td>
      <td>
        <div>
          <i>Type: </i><code>boolean</code>
        </div>
        <div>
          <p>If false, previews will be hidden, otherwise not. <code>true</code> by default.</p>
        </div>
      </td>
    </tr>
    <tr>
      <td><small><code>number</code></small></td>
      <td>
        <div>
          <i>Type: </i><code>number</code><span class="badge badge-pill badge-secondary float-right">optional</span>
        </div>
        <div>
          <p>Number of previews to show. <code>3</code> by default.</p>
        </div>
      </td>
    </tr>
    <tr>
      <td><small><code>arrows</code></small></td>
      <td>
        <div>
          <i>Type: </i><code>boolean</code><span class="badge badge-pill badge-secondary float-right">optional</span>
        </div>
        <div>
          <p>If false, preview's navigation arrows are visible, otherwise not. <code>false</code> by default.</p>
        </div>
      </td>
    </tr>
    <tr>
      <td><small><code>clickable</code></small></td>
      <td>
        <div>
          <i>Type: </i><code>boolean</code><span class="badge badge-pill badge-secondary float-right">optional</span>
        </div>
        <div>
          <p>If false, previous won't be clickable, otherwise not. <code>true</code> by default.</p>
        </div>
      </td>
    </tr>
    <tr>
      <td><small><code>size</code></small></td>
      <td>
        <div>
          <i>Type: </i><code>Size</code><span class="badge badge-pill badge-secondary float-right">optional</span>
        </div>
        <div>
          <p>You can change the default size of previews. <code>width: 50px</code> and <code>height: auto</code> by default.</p>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
