/*
 * MIT License
 *
 * Copyright (c) 2017-2018 Stefano Cappa
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
/* You can add global styles to this file, and also import other style files */
@import "theme";
@import "variables";
@import '../node_modules/bootstrap/scss/bootstrap';

html {
  // taken from https://gist.github.com/hsleonis/55712b0eafc9b25f1944
  // to improve font rendering
  // Adjust font size
  font-size: 100%;
  // Font variant
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  // Smoothing
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

// force codemirror's height https://codemirror.net/demo/resize.html
.CodeMirror {
  border: 1px solid #eee;
  height: auto !important;
}

.title {
  background-color: $color-primary;
  background: linear-gradient(135deg, $color-primary, $color-secondary);
  margin-top: 32px;
  color: $color-white;

  h1 {
    color: $color-white;
    font-weight: 400;
  }
}

.link-title {
  color: $color-primary !important;

  &:hover {
    color: $color-primary !important;
  }
}

td {
  min-width: 134px;
}

code {
  color: $color-code;
}

a {
  color: $color-url;
}

kbd {
  background-color: $color-light-black;
}
