<div class="jumbotron jumbotron-fluid intro-header">
  <div class="container text-center">
    <img [src]="path" alt="angular-modal-gallery icon"/>
    <h1 class="display-3 white">@ks89/angular-modal-gallery</h1>
    <p class="lead">Image gallery for Angular >=6</p>
    <br>
    <a pageScroll href="#demo" class="btn-custom" role="button" [routerLink]="['/demo']">Demo</a>&nbsp;&nbsp;<a pageScroll href="#gettingStarted" class="btn-custom" role="button" [routerLink]="['/gettingStarted']">Installation
    instruction</a>
    <br>
    <br>
    <p class="lead">Currently v7.0.0</p>
  </div>
</div>
